name: native_glass_navbar
description: "A Flutter plugin that brings the native iOS Liquid Glass style navigation bar to your Flutter apps."
version: 1.0.0
homepage: "https://github.com/TechSupportz/native_glass_navbar"

environment:
    sdk: ^3.9.2
    flutter: ">=3.3.0"

dependencies:
    flutter:
        sdk: flutter

dev_dependencies:
    flutter_test:
        sdk: flutter
    flutter_lints: ^5.0.0

flutter:
    plugin:
        platforms:
            ios:
                pluginClass: NativeLiquidTabBarPlugin